.ticketSection {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .ticketSection h1 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .ticketSection h2 {
    color: #555;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .ticketData {
    margin-top: 10px;
  }
  
  .ticketData p {
    margin: 5px 0;
    font-size: 16px;
  }
  
  .finishButton {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .finishButton:hover {
    background-color: #45a049;
  }

  div{
    align-self: center;
    text-align: center;
  }