 <div class="expired-token-container">
        <h1>Token Expirado</h1>
        <p>El enlace para restablecer la contraseña ha caducado.</p>
        <p>Por favor, solicita un nuevo correo de restablecimiento.</p>
     <a href="http://localhost:8080/forgot-password">Solicitar nuevo correo</a>
    </div>