<div>
    <h1>Recuperar Contraseña</h1>
    <form method="post" action="/forgot-password/send-email">
        <label for="userEmail">Correo Electrónico</label>
        <input type="email" name="userEmail" id="userEmail" required>
        <button type="submit">Enviar Correo Electrónico</button>
    </form>
</div>