<div>
    <h1>Restablecer Contraseña</h1>
    <form id="resetPasswordForm" method="post" action="/forgot-password/reset-password/{{ token }}">
        <label for="newPassword">Nueva Contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <button id="resetPasswordBtn" type="submit" disabled>Restablecer Contraseña</button>
    </form>
    <div id="error-message" style="color: red;"></div>
    <div id="successMessageContainer" style="display: none;">
    <p>¡Contraseña actualizada correctamente!</p>
</div>

</div>
<script type="module" src="/js/resetPassword.js"></script>
