<div class="ticketSection">
<div> 
    <h1>Ticket de compra</h1>
</div>
    <h2>Detalles de ticket:</h2>
    <div class="ticketData">
        <p><b>Código del ticket:</b> {{ticket.code}}</p>
        <p><b>Fecha de compra:</b> {{ticket.purchase_datetime}}</p>
        <p><b>Monto total:</b> ${{ticket.amount}}</p>
        <p><b>Usuario:</b> {{ticket.user}}</p>
    </div>
</div>
  <div>
   <a href="/products" class="buttonFinalizar">Finalizar</a>

    </div>